body {
  background: $color-gray-l;
}
h1 {
  font-size: 30px;
  height: 50px;
  img {
    border-radius: 30px;
    @include border-radius(50px);
  }
  span {
    height: 50px;
    line-height: 50px;
    vertical-align: top;
  }
}
.layout {
  margin: 30px;
}
.roulette-box {
  @include border-radius(25px);
  background: $color-white;
  display: table;
  width: 100%;
  height: 250px;
  text-align: center;
  margin-top: 10px;
}
.side-box {
  width: 200px;
  display: table-cell;
  padding: 20px;
  h3 {
    display: table-cell;
    vertical-align: middle;
    font-size: 38px;
    line-height: 40px;
    height: 93px;
  }
}
.disp-box {
  display: table-cell;
  vertical-align: middle;
}
.btn-group {
  height: 90px;
}
.btn {
  @include border-radius(5px);
  width: 200px;
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  float: left;
  &.btn-start {
    background: $color-pink-d;
    .btn-top { background: $color-pink-l; }
  }
  &.btn-stop {
    background: $color-blue-d;
    .btn-top { background: $color-blue-l; }
  }
  .btn-top {
    @include border-radius(5px);
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    font-weight: bold;
    color: $color-white;
    letter-spacing: 0.1em;
  }
  &.is-pressed, &.is-active {
    background: transparent;
    padding-top: 5px;
  }
}
.show-box {
  @include border-radius(25px);
  background: $color-white;
  color: $color-pink-l;
  margin-top: 20px;
  padding: 10px 20px;
  .show-list {
    li {
      margin: 3px;
      list-style: none;
      vertical-align: middle;
      display: inline-block;
    }
  }
}
