* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

$color-pink-l: #ff5566;
$color-pink-d: #b4313d;
$color-blue-l: #558bff;
$color-blue-d: #406ED1;
$color-white: #ffffff;
$color-gray-l: #eeeeee;
$color-gray-d: #bbbbbb;
